<style>

	head{
		color: aqua;
	}

	body{
		text-align: center;
		color: salmon;
		font-family: 'Trebuchet MS', 'Times New Roman', serif;
		background-color: azure;		
	}

	h2, h3, h4, h5, h6 {
		color: sandybrown;
	}

	h1{
		color: seagreen;
	}

	#start{
		color: purple;
	}

	.list{
		border: 2px solid black;
        color: black;
	}

</style>

