html{
    font-family: 'Open Sans', sans-serif;
}
body {
    margin: 0;
}

.meet{
    color: white;
    background-image: url("img/meside.JPG");
    padding: 10em 0;
    background-size: contain;
    text-align: center;
}

.meet-intro{
    font-style: italic;
    font-size: 180%;
    line-height: 0px;
}

.meet-heading{
    margin-top: -5px;
    font-weight: 900;
    font-size: 350%;
}

.start{
    text-align: center;
}

.column {
/*    width: 50%;*/
    padding: 10px;
}

.column img{
    width:270px; 
    height:220px;
    border-radius: 50px;
    float: left;
    object-fit: cover;
    margin-right: 25px;
}

.column h3, .column h5{
    margin-bottom: 5px;
    margin-top: 5px;
}

.column h5{
    color: seagreen;
}

.column h3{
    color: cornflowerblue;
}

a{
    text-decoration: none;
    color: cornflowerblue;
}

a:visited{
    text-decoration: none;
}

.project{
    display: flex;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 30px;
}
@media screen and (max-width: 600px) {
    .column {
    width: 100%;
    }
}

